@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  z-index: 1;
  margin: 4rem 0;
}

/* navigation */

.navigation {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e35676;
  font-size: 2rem;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.navigation__menu {
  display: flex;
  width: 50rem;
  justify-content: space-around;
  align-items: center;
}

.navigation__menu a {
  text-decoration: none;
  color: #000;
}

.navigation__menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 25rem;
  padding-left: 0;
}

.navigation__menu li {
  width: 10rem;
  padding: 1rem 2rem;
  text-align: center;
  margin-right: 1rem;
}

.navigation__menu li:hover {
  color: #fff;
  background-color: #e35676;
  border: transparent;
  border-radius: 3rem;
}

.navigation__social {
  width: 20rem;
  display: flex;
  justify-content: space-around;
}
/* navigation */

/* header */
.header {
  width: 100%;
  display: flex;
  height: 90rem;
  position: relative;
  justify-content: center;
  background-color: #fff;
  align-items: center;
}

.header img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header__title {
  position: relative;
  font-size: 3rem;
  width: 50%;
  height: 75%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.header__title p {
  display: flex;
  margin-left: -1rem;
  line-height: 4rem;
  flex-flow: column wrap;
}

.header__title span {
  color: rgba(0, 0, 0, 0.1);
  font-size: 15rem;
  margin-left: -1rem;
  z-index: 0;
}

.header__title h1 {
  line-height: 0.5rem;
}

.header__list {
  display: flex;
  width: 50rem;
  list-style: none;
  margin-left: 4rem;
  padding: 0;
}

.header__list--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 4rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
  font-size: 2.5rem;
}

.header__list--item:hover {
  color: #fff;
  background-color: #e35676;
  border: transparent;
  border-radius: 3rem;
}

.header__right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  height: 40rem;
}

.header__right--box {
  display: flex;
  width: 90%;
  background-color: #e35676;
  height: 35rem;
  border-bottom-left-radius: 20rem;
  border-top-left-radius: 20rem;
  padding: 2rem;
}

.header__right--photo {
  position: relative;
  border: 1rem solid #fff;
  box-shadow: 0.5rem 0.5rem 3rem 0 black;
  border-radius: 50%;
  width: 32rem;
  background: url(./images/photo-of-me.jpg) no-repeat;
  background-size: 100% 100%;
}

/* header */

/* skills and about */

.about__main-wrapper {
  width: 100%;
  height: 25rem;
  margin-top: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.about__wrapper {
  display: none;
  background-color: #fff;
  width: 65%;
  height: 65rem;
  align-items: center;
  font-size: 2rem;
  flex-flow: column wrap;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: 0px 9px 20px 20px rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in-out;
}

.hide {
  opacity: 0;
}

.show-animate {
  opacity: 1;
  animation: myanimation 2s;
}

@keyframes myanimation {
  0% {
    animation-delay: 4s;
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-title-bar {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(227, 86, 118, 1) 60%,
    rgba(235, 142, 163, 0.9969364454766282) 68%
  );
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.about-title-bar span {
  color: #fff;
  margin-right: 2rem;
  font-weight: bold;
}

.about__title-bar--dots {
  display: flex;
  margin-left: 2rem;
  width: 10rem;
  justify-content: space-between;
}

.about__title-bar--dot {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.about__title-bar--dot.first-dot {
  background-color: red;
}

.about__title-bar--dot.second-dot {
  background-color: yellow;
}

.about__title-bar--dot.third-dot {
  background-color: green;
}

.about__section-main {
  display: flex;
  width: 100%;
  height: 77%;
}

.about__section-main h2 {
  font-size: 4rem;
  margin-left: 3rem;
  height: 5rem;
  margin-bottom: 0;
}

.about__section-me--wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 7rem;
  margin-left: -10rem;
}

.about__section-me--text {
  display: flex;
  flex-flow: column wrap;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  padding: 0 2rem;
  color: #e35676;
  height: 100%;
  align-items: center;
}

.about__section-me--text span {
  color: #000;
}

.about__section-me--text p {
  margin-bottom: 1rem;
}

.about__section--skills {
  display: flex;
  flex-direction: column;
  margin: 7rem 1rem;
  width: 60%;
}

.skills__status-bar--main-wrapper {
  display: flex;
  flex-direction: column;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.skills__status-bar--percent {
  display: flex;
  width: 95%;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 1rem;
  height: 10%;
}

.skills__status-bar--wrapper {
  width: 80%;
  height: 100%;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  margin-right: 0.5rem;
}

.skills__status-bar {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: #e35676;
  height: 100%;
  font-weight: bold;
}

.skills__status-bar p {
  margin-left: 1rem;
}

.skills__status-bar.first-bar {
  width: 98%;
}

.skills__status-bar.second-bar {
  width: 90%;
}

.skills__status-bar.third-bar {
  width: 70%;
}

.skills__status-bar.fourth-bar {
  width: 40%;
}

.skills__status-bar.fifth-bar {
  width: 80%;
}

.skills__status-bar.sixth-bar {
  width: 70%;
}

/* skills and about */

/* projects */

.projects__main-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: url(./images/background-projects.png) no-repeat;
  background-size: 100% 100%;
  height: 150rem;
}

.project__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.projects__title {
  display: flex;
  margin-top: 30rem;
  height: 10rem;
  width: 30%;
  padding: 0.5rem 5rem;
  justify-content: flex-end;
  align-items: center;
  background-color: #e35676;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  font-size: 4rem;
  color: #fff;
}

.projects__buttons {
  margin-top: 10rem;
  width: 100%;
}

.projects__list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

.project__list-item {
  text-align: center;
  width: 13rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.project__list-item:hover {
  color: #fff;
  border-radius: 3rem;
  background-color: #e35676;
}

.projects__examples--wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.projects__examples {
  display: flex;
  align-items: center;
  margin: 0 20%;
  width: 100%;
  flex-flow: row wrap;
}

.projects__tile {
  width: 33rem;
  height: 25rem;
  border-radius: 1.5rem;
  margin: 0.5rem;
  background: url(./images/project-photo.webp) no-repeat;
  background-size: 100% 100%;
}

.projects__tile--show {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  opacity: 0;
  border-radius: 1.5rem;
  font-size: 2rem;
  color: #fff;
}

.projects__tile--show button {
  width: 18rem;
  border-radius: 5rem;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  height: 4rem;
  margin-top: 6rem;
  cursor: pointer;
}

.projects__tile--show:hover {
  background-color: rgba(227, 86, 118, 0.9);
  opacity: 1;
}

.footer__title {
  position: absolute;
  bottom: 1rem;
  font-size: 3rem;
}

/* projects */

/* footer */

.footer__behind--wrapper {
  width: 100%;
  height: 65rem;
  pointer-events: none;
  border-radius: 50%;
  position: relative;
  bottom: 12rem;
  left: 0;
}

.footer__behind--wrapper::before {
  content: "";
  width: 100%;
  height: 20rem;
  border-top: 3px solid #e35676;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
}

.footer__behind--border {
  border-radius: 50%;
  margin-top: -5rem;
  width: 28rem;
  height: 1rem;
  border-top: 5px solid rgba(255, 255, 255, 0.4);
}

.footer__main-wrapper {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 90rem;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
  background-color: #2a2733;
}

.footer__title span {
  color: #e35676;
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25rem;
}

.footer__form input {
  width: 45rem;
  height: 4rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.footer__form input:focus,
.footer__form textarea:focus {
  outline: none;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(227, 86, 118, 1) 60%,
    rgba(235, 142, 163, 0.9969364454766282) 68%
  );
}

.footer__form textarea {
  width: 45rem;
  height: 12rem;
  border-radius: 0.5rem;
}

.footer__form input:last-child {
  width: 20rem;
  margin-top: 2rem;
  height: 4rem;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 2rem;
  border: 1px solid #e35676;
}

.footer__form input:last-child:active {
  background-color: #e35676;
  color: #000;
}

.footer__icons-and-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background-color: #1b242f;
  width: 100%;
  margin-top: 10rem;
  height: 21rem;
}

.footer__arrow-up {
  width: 6rem;
  height: 6rem;
  margin-top: -4rem;
  border-radius: 100%;
  margin-bottom: 2rem;
  cursor: pointer;
  background-color: #36323f;
}

.footer__arrow-up img {
  width: 100%;
  height: 100%;
}

.footer__icons {
  display: flex;
  width: 20rem;
  justify-content: space-between;
}

.footer__icons-item {
  background-color: #36323f;
  border: 1px solid black;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.footer__icons-item:active {
  background-color: #e35676;
}

.footer__date-and-logo {
  display: flex;
  font-size: 1.3rem;
  color: #fff;
}

/*MEDIA TO 1033 PX*/
@media (max-width: 1133px) {
  .projects__tile {
    width: 29rem;
    height: 25rem;
    margin: 0.75rem;
  }
}
/*MEDIA TO 1033 PX*/

/*MEDIA TO 1024 PX*/
@media (max-width: 1024px) {
  /*NAVIGATION */
  .navigation__menu {
    width: 30rem;
    margin-left: 1rem;
  }

  .navigation__social {
    margin-right: 1rem;
  }
  /*NAVIGATION */

  /*HEADER*/
  .header {
    justify-content: space-around;
  }

  .header__title {
    margin-left: 2rem;
    align-items: flex-start;
  }

  .header__title p {
    margin-left: 0;
  }

  .header__title span {
    top: 0rem;
    left: -1rem;
    font-size: 12rem;
  }

  .header__title h1 {
    font-size: 4.5rem;
    margin-left: 0;
  }

  .header__list {
    margin-left: 0;
    justify-content: space-around;
  }

  .header__list--item {
    font-size: 2rem;
    padding: 0 0.5rem;
  }

  .header__right--box {
    height: 25rem;
    align-items: center;
  }

  .header__right--photo {
    width: 22rem;
    height: 22rem;
  }
  /*HEADER*/

  /*ABOUT SECTION*/
  .about__wrapper {
    width: 90%;
  }

  .about__section-main h2 {
    height: 5rem;
    margin-left: 2rem;
    margin-bottom: 0;
  }

  .about__section-me--wrapper {
    margin-left: -10rem;
    height: 65%;
  }

  .about__section-me--text {
    width: 90%;
    flex-direction: column;
    font-size: 1.8rem;
  }

  .skills__status-bar--main-wrapper {
    height: 81%;
    font-size: 2rem;
  }

  .skills__status-bar--percent {
    height: 2rem;
  }

  .skills__status-bar p {
    font-size: 1.5rem;
  }
  /*ABOUT SECTION*/

  /*PROJECTS SECTION*/
  .projects__main-wrapper {
    height: 120rem;
    margin-top: 5rem;
  }

  .projects__title {
    margin-top: 20rem;
  }

  .projects__buttons {
    margin-top: 2.5rem;
  }

  .projects__examples--wrapper {
    margin: 0;
  }

  .projects__examples {
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  .projects__tile {
    height: 25rem;
    width: 30rem;
  }
  /*PROJECTS SECTION*/

  /*FOOTER*/
  .footer__behind--wrapper {
    height: 60rem;
  }

  .footer__main-wrapper {
    height: 80rem;
  }

  .footer__icons-and-arrow {
    margin-bottom: 6rem;
  }

  .footer__behind--border {
    margin-top: -1rem;
  }
  /*FOOTER*/
}

/*MEDIA TO 1024 PX*/

/*MEDIA TO 768 PX*/
@media (max-width: 768px) {
  /*NAVIGATION*/
  .navigation {
    height: 10rem;
    justify-content: center;
    flex-direction: column;
  }

  .navigation__menu {
    width: 15rem;
    margin-right: 10rem;
  }

  .navigation__menu li {
    margin-right: 0;
    font-size: 1.5rem;
    padding: 1rem;
    width: 9rem;
  }

  .navigation__social {
    width: 13rem;
  }
  /*NAVIGATION*/

  /*HEADER*/
  .header {
    flex-direction: column-reverse;
  }

  .header__title {
    width: 97%;
    margin: 0;
    margin-left: 2rem;
    align-items: flex-start;
  }

  .header__title p {
    margin-left: 0;
  }

  .header__title span {
    font-size: 11rem;
  }

  .header__title h1 {
    margin-left: 0;
    line-height: 5rem;
    font-size: 4rem;
  }

  .header__list {
    margin-left: 0;
    width: 35rem;
  }

  .header__list--item {
    width: 14rem;
    font-size: 2rem;
    padding: 0 0.5rem;
  }

  .header__right {
    width: 100%;
    z-index: 1;
    margin: 0;
  }

  .header__right--box {
    border-radius: 0;
    height: 88%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .header__right--photo {
    width: 25rem;
    height: 25rem;
  }
  /*HEADER*/

  /*ABOUT SECTION*/
  .about__wrapper {
    width: 90%;
  }

  .about__section-main {
    height: 90%;
  }

  .about__section-main h2 {
    height: 5rem;
    margin-left: 2rem;
    margin-bottom: 0;
  }

  .about__section-me--wrapper {
    margin-left: -15rem;
    height: 70%;
  }

  .about__section-me--wrapper h3 {
    margin-bottom: 0;
  }

  .about__section-me--text {
    flex-direction: column;
    line-height: 1.4rem;
    font-size: 1.5rem;
    width: 70%;
    margin-left: 0;
  }

  .about__section-me--text p {
    margin-bottom: 0;
  }

  .skills__status-bar--main-wrapper {
    height: 60%;
    font-size: 1.8rem;
  }
  /*ABOUT SECTION*/

  /*PROJECT SECTION*/

  .projects__main-wrapper {
    margin-top: 6rem;
  }

  .projects__title {
    margin-top: 20rem;
  }

  .projects__buttons {
    margin-top: 2.5rem;
  }

  .projects__list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .projects__examples--wrapper {
    margin: 0;
  }

  .projects__examples {
    width: 100%;
    justify-content: center;
  }

  .projects__tile {
    height: 18rem;
    width: 19rem;
  }

  .projects__tile--show {
    font-size: 1.5rem;
  }
  /*PROJECT SECTION*/

  /*FOOTER*/
  .footer__behind--wrapper {
    height: 60rem;
  }

  .footer__main-wrapper {
    height: 80rem;
  }

  .footer__form {
    width: 25rem;
  }

  .footer__form input {
    width: 100%;
    height: 3.5rem;
  }

  .footer__form textarea {
    width: 100%;
    height: 10rem;
  }

  .footer__icons-and-arrow {
    margin-bottom: 5rem;
  }

  .footer__behind--border {
    margin-top: -0.5rem;
  }
  /*FOOTER*/
}
/*MEDIA TO 768 PX*/

/*MEDIA TO 540PX*/
@media (max-width: 540px) {
  /*HEADER*/
  .header__title {
    margin-left: 1rem;
  }
  /*HEADER*/
  
  /*PROJECTS*/
  .projects__title {
    padding: 0 3rem;
    font-size: 3rem;
  }

  .projects__examples {
    margin-top: 0;
  }

  .projects__tile {
    width: 22rem;
    height: 14rem;
  }

  .projects__tile--show {
    font-size: 1.5rem;
    flex-direction: column;
  }

  .projects__tile--show button {
    width: 14rem;
    height: 3rem;
    margin-top: 1rem;
  }
  /*PROJECTS*/
}
/*MEDIA TO 540PX*/

/* MEDIA TO 375 PX */
@media (max-width: 375px) {
  .main-wrapper {
    width: 100%;
    margin: 0;
  }

  /* Navigation */
  .navigation {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 0;
    font-size: 1.5rem;
    height: 8rem;
    background-color: #fff;
  }

  .navigation__menu {
    width: 100%;
    margin: 0;
    height: 50%;
    justify-content: flex-start;
  }

  .navigation__menu img {
    width: 3.5rem;
    margin: 0;
  }

  .navigation__menu ul {
    width: 80%;
  }

  .navigation__menu li {
    width: 7rem;
    margin: 0;
  }

  .navigation__social {
    width: 100%;
    height: 50%;
    align-items: flex-end;
    justify-content: space-around;
    margin: 0;
  }
  /* Navigation */

  /* HEADER */
  .header {
    flex-direction: column-reverse;
    background-size: 100% 100%;
    align-items: center;
    justify-content: flex-end;
    height: 50rem;
  }

  .header__title {
    font-size: 2rem;
    height: 30rem;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header__title p {
    margin-left: 0;
  }

  .header__title span {
    left: 0rem;
    top: -1.5rem;
    font-size: 9rem;
  }

  .header__title h1 {
    margin-left: 0;
    word-wrap: break-word;
  }

  .header__right {
    width: 100%;
    height: 28rem;
    align-items: flex-start;
  }

  .header__right--box {
    width: 100%;
    height: 100%;
    border-radius: 0;
    align-items: center;
    background-color: rgba(227, 86, 118, 0.7);
    justify-content: center;
    padding: 0;
  }

  .header__right--photo {
    width: 53%;
    height: 18rem;
    border: 0.5rem solid #fff;
  }

  .header__list {
    width: 30rem;
    margin-left: 0;
  }

  .header__list--item {
    width: 12rem;
    font-size: 1.5rem;
    height: 2rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
  }

  /* HEADER */

  /* ABOUT */

  .about__main-wrapper {
    height: 60rem;
    margin-top: 5rem;
  }

  .about__wrapper {
    height: 72rem;
    width: 90%;
    font-size: 1.5rem;
    margin-top: 8rem;
  }

  @keyframes myanimation {
    0% {
      animation-delay: 4s;
      opacity: 0;
      transform: translateY(500px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .about__section-main {
    flex-direction: column;
    height: 90%;
  }

  .about__section-main h2 {
    font-size: 2.5rem;
    margin: 1rem;
  }

  .about__section-me--wrapper {
    margin: 0;
    margin-left: 1rem;
    width: 100%;
  }

  .about__section--skills {
    margin: 0;
    margin-left: 1rem;
    width: 90%;
  }

  .skills__status-bar--wrapper {
    width: 100%;
  }

  .skills__status-bar {
    height: 2rem;
  }

  /* ABOUT */

  /* PROJECTS */

  .projects__main-wrapper {
    margin-top: 1rem;
    height: 150rem;
  }

  .projects__title {
    align-items: flex-start;
    text-align: right;
    padding: 0.5rem;
    height: 4rem;
    width: 50%;
    padding-right: 1rem;
    margin-top: 20rem;
  }

  .projects__buttons {
    margin-top: 0;
  }

  .projects__list {
    display: flex;
    flex-flow: row wrap;
    height: 20rem;
  }

  .projects__examples--wrapper {
    align-items: center;
    margin: 0;
  }

  .projects__examples {
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
  }

  .projects__tile {
    width: 25rem;
    height: 20rem;
    margin: 0;
  }

  .footer__title {
    position: absolute;
    bottom: 2.5rem;
    font-size: 2.5rem;
  }

  /* PROJECTS */

  /* FOOTER */
  .footer__behind--wrapper {
    border-radius: 40rem;
    height: 65rem;
  }

  .footer__main-wrapper {
    height: 80rem;
    justify-content: flex-end;
    padding-bottom: 1rem;
  }

  .footer__form {
    margin-bottom: 0;
  }

  .footer__form input {
    width: 30rem;
    height: 3rem;
  }

  .footer__form textarea {
    width: 30rem;
  }

  .footer__form input:last-child:focus {
    background: linear-gradient(
      90deg,
      rgba(227, 86, 118, 1) 60%,
      rgba(235, 142, 163, 0.9969364454766282) 68%
    );
  }

  .footer__icons-and-arrow {
    margin-top: 5rem;
    margin-bottom: 0;
  }

  .footer__behind--border {
    margin-top: -2.5rem;
  }
  /* FOOTER */
}
/* MEDIA TO 375 PX */
